doctype html
html
  head
    meta(charset='utf8')
    script(src="scripts/jquery.min.js")
    script(src="scripts/socket.io.js")

  body
    div(id="main")
      div(class="row")
        div(class="col-md-5")
          div(id="player-count-wrapper")
            p Number of players: 
            p(id="player-count")

          div(id="game-status-wrapper")
            p(id="game-status")
            p(id="game-timer")
            button(id="start-button" onclick="activate()" disabled) Activate Game
            button(id="join-button" onclick="join()" disabled) Join Existing Game

        div(class="col-md-5 text-right")
          span Money possess:
          span(id="bank-amount")
          div
            p Current secret:
            p(id="secret-display")
            button(id="generate-secret" onclick="getSecret()") Get Random Secret
          div
            span Make a guess:
            input(id="guess-input" type="number") 
          div
            button(id="send-guess" onclick="sendGuess()" disabled) Send Encrypted Guess
          div
            button(id="reveal-secret" onclick="sendSecret()" disabled) Send Secret for Verification

        div(class="col-md-1")

      table(id="game-panel" class="table table-striped table-dark")
        thead
          tr
            th Timestamp
            th Description
        tbody
  
  link(href='scripts/css/bootstrap.min.css', rel='stylesheet')
  link(href='style/main.css', rel='stylesheet')
  script(src="socket.js")
